:root {
  --rounded-corners: 5px;
  --border-style: 3px solid #e6e4e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: #252222;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 600px;
  margin: 50px auto 15px auto;
  border: 1px solid #000000;
  background-color: royalblue;
}

h1 {
  color: #ffffff;
  padding: 15px;
  margin-bottom: 65px;
  background-color: #a6d8df;
  border-radius: 3px;
}

#math-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-style);
  border-radius: var(--rounded-corners);
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  margin: 10px 10px 10px 10px;
  font-size: 1.5em;
}

#symbol {
  text-align: center;
  justify-self: flex-start;
}

.equation-row {
  display: flex;
  justify-content: center;
  font-size: 2em;
  width: 400px;
  height: 50px;
}


#top-row {
  margin-bottom: 20px;
  margin-left: 70px;
}

#bottom-row {
  display: flex;
  margin-bottom: 20px;
}

#bottom-row .hundreds {
  margin-left: 35px;
}

#bottom-row .ones {
  margin-right: 35px;
}

.answer-row-shift {
  margin-left: 70px;
}

#separator {
  border: var(--border-style);
  width: 280px;
}

.thousands,
.hundreds,
.tens,
.ones {
  border: var(--border-style);
  border-radius: var(--rounded-corners);
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  margin: 10px;
  background-color: #ffffff;
}

#rgrp-row {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 200px;
  margin-left: 80px;
}

.rgrp-field {
  text-align: center;
  width: 25px;
  height: 25px;
}

.rgrp-hunds {
  margin-right: 45px;
}

.correctAnswer {
  background-color: #38e738;

}

input {
  font-size: 1.1em;
  color: rgb(99, 136, 136);
  border-radius: var(--rounded-corners);
}

#check-answer {
  margin-top: 50px;
  padding: 10px;
  justify-self: flex-end;
  border-radius: var(--rounded-corners);
  border: var(--border-style);
}

/* Remove arrow buttons from input fields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}